In [1]:
import pandas as pd

In [45]:
pokemon = pd.read_csv('https://stepik.org/media/attachments/lesson/363874/Pokemon.csv')

In [28]:
pokemon.shape

(800, 13)

In [47]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [46]:
#изменим названия исходных столбцов для удобства
pokemon.columns = pokemon.columns.str.replace('\. ', '_').str.replace(' ', '_').str.lower()

C:\Users\bkunt\AppData\Local\Temp\ipykernel_640\177505253.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon.columns = pokemon.columns.str.replace('\. ', '_').str.replace(' ', '_').str.lower()

In [35]:
#переименуем колонку
pokemon.rename(columns={'#': 'id'}, inplace=True)

In [36]:
pokemon.head()

,id,name,typ_1,typ_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [48]:
#выясним, сколько в каком поколении легендарных покемонов
legends = pokemon.groupby('generation') \
                 .agg({'legendary': 'value_counts'})

In [65]:
legends.head()

                      legendary_count
generation legendary
1          False                  160
           True                     6
2          False                  101
           True                     5
3          False                  142

In [66]:
#переименуем колонку, чтобы не было путаницы, и поместим уровень индекса legendary в уровень столбцов
legends_unstacked = legends.rename(columns={'legendary': 'legendary_count'}) \
                           .unstack(level='legendary')

In [107]:
legends_unstacked.head()

           legendary_count
legendary            False True
generation
1                      160    6
2                      101    5
3                      142   18
4                      108   13
5                      150   15

In [118]:
#узнаем, среди каких типов покемонов и в каком поколении больше всего легендарных
pokemon.groupby(['generation', 'type_1']) \
       .agg({'legendary': 'sum'}) \
       .unstack(level='type_1')

           legendary                                                        \
type_1           Bug Dark Dragon Electric Fairy Fighting Fire Flying Ghost
generation
1                0.0  NaN    0.0      1.0   0.0      0.0  1.0    NaN   0.0
2                0.0  0.0    NaN      1.0   0.0      0.0  2.0    NaN   0.0
3                0.0  0.0    6.0      0.0   NaN      0.0  0.0    NaN   0.0
4                0.0  1.0    0.0      0.0   0.0      0.0  1.0    NaN   2.0
5                0.0  0.0    5.0      2.0   NaN      0.0  0.0    2.0   0.0
6                0.0  1.0    1.0      0.0   1.0      0.0  1.0    0.0   0.0


type_1     Grass Ground  Ice Normal Poison Psychic Rock Steel Water
generation
1            0.0    0.0  1.0    0.0    0.0     3.0  0.0   NaN   0.0
2            0.0    0.0  0.0    0.0    0.0     1.0  0.0   0.0   1.0
3            0.0    2.0  1.0    0.0    0.0     4.0  1.0   2.0   2.0
4            2.0    0.0  0.0    2.0    0.0     3.0  0.0   1.0   1.0
5            1.0    2.0  0.0    0.0    0.0     1.0  1.0   1.0   0.0
6            0.0    NaN  0.0    0.0    0.0     2.0  2.0   0.0   0.0

In [119]:
#получим новые данные о способностях супергероев
superheroes = pd.read_csv('https://stepik.org/media/attachments/lesson/363874/superheroes_power_matrix.csv')

In [120]:
superheroes.shape

(667, 168)

In [121]:
superheroes.head()

,Name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [151]:
#преобразуем датафрейм в длинный формат
superheroes_long = superheroes.melt(id_vars='Name', var_name='superpower')

In [154]:
#отфильтруем значения и объединим суперспособности для каждого героя
superheroes_powers = superheroes_long.query('value == True') \
                                     .groupby('Name') \
                                     .superpower \
                                     .apply(list) \
                                     .to_frame() \
                                     .reset_index()

In [155]:
superheroes_powers.head()

          Name                                         superpower
0      3-D Man    [Agility, Super Strength, Stamina, Super Speed]
1       A-Bomb  [Accelerated Healing, Durability, Longevity, S...
2   Abe Sapien  [Agility, Accelerated Healing, Cold Resistance...
3     Abin Sur                               [Lantern Power Ring]
4  Abomination  [Accelerated Healing, Intelligence, Super Stre...